{% assign t = site.data.i18n[page.lang] | default: site.data.i18n.en %}
<footer class="footer">
    <!-- <p>&copy; {{ site.username }}</p> -->
    <p>{{ t.footer_credit_before }}<span class="love">❤</span>{{ t.footer_credit_after }}<a href="https://github.com/pavlojs">pavlojs</a></p>
    <p class="footer-links">
      <a href="https://wrservices.link" target="_blank" rel="noopener noreferrer">{{ t.link_docs }}</a>
      <span class="link-sep" aria-hidden="true">|</span>
      <a href="https://blog.whiteravens.net" target="_blank" rel="noopener noreferrer">{{ t.link_blog }}</a>
      <span class="link-sep" aria-hidden="true">|</span>
      <a href="https://status.wrservices.link" target="_blank" rel="noopener noreferrer">{{ t.link_status }}</a>
    </p>
    <p><a href='https://ko-fi.com/N4N4E0LR2' target='_blank' rel='noopener noreferrer'><img height='36' style='border:0px;height:36px;' src='https://storage.ko-fi.com/cdn/kofi5.png?v=6' border='0' alt='Buy Me a Coffee at ko-fi.com' /></a></p>
</footer>
<script src="{{ '/assets/js/particles.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/sweet-scroll.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/assets/js/main.js' | prepend: site.baseurl }}"></script>
